[Desktop Entry]
Version=1.0
Type=Application
Terminal=true
TerminalOptions=zsh
Exec=zsh -c "source /home/deck/.zshrc;/home/deck/uwarl-robot_configs/deck/deck_launch.sh"
Icon=/home/deck/uwarl-robot_configs/deck/track_joint.png
Name=Launch UWARL Summit Controller
